## Functions

In [1]:
def greet():
    print("Hello")
    print("Good Morning")
greet()
greet()

Hello
Good Morning
Hello
Good Morning

In [2]:
def add_sub(a,b):
    c=a+b
    d=a-b
    return c,d
c,d=add_sub(3,4)
print(c,d)

7 -1

In [4]:
def mult_div(a,b):
    c=a*b
    d=a/b
    print(c,d)
mult_div(3,4)

12 0.75

In [5]:
def update(x):
    print(x)
    x=90
    print(x)
update(9)

9
90

### Global and Local Scope

In [17]:
a=10
def var(a):
    a=15
    print("Inside:",a)
    
var(a)    
print("Outside:",a)

Inside: 15
Outside: 10

In [20]:
a=10
def var(a):
    print("Inside:",a)
    
var(a)    
print("Outside:",a)

Inside: 10
Outside: 10

In [19]:
a=10
def var(a):
    global a
    a=15
    print("Inside:",a)
    
var(a)    
print("Outside:",a)

SyntaxError: name 'a' is parameter and global (4126802659.py, line 3)

## Arguments

### Formal Arguments
### 1.Position Arguments

In [7]:
def person(name,age):
    print(name,age)
person("Divya",18)

Divya 18

### 2.keyword Arguments

In [10]:
def person(name,age):
    print(name,age)
person(age=18,name="Divya")

Divya 18

### 3.Default Arguments

In [11]:
def person(name,age=18):
    print(name,age)
person(name="Divya")

Divya 18

### 4.Variable length Arguments

## Program-1

In [27]:
 def count(list):
        even=0
        odd=0
        for i in list:
            if(i%2==0):
                even+=1
            else:
                odd+=1
        return even,odd   
                
list=[2,3,4,5,3,4,5,4,67,35]   
even,odd=count(list)
print(even,odd)

4 6

## Program-2

In [1]:
 def count(list):
        list1=[]
        for i in list:
            if(len(i)>=5):
                list1.append(i)
        return list1        
                 
                
list=["Riya","Seetal","Payal","palak","Faria"]   
list1=count(list)
print(list1)

['Seetal', 'Payal', 'palak', 'Faria']

## Program-3

In [5]:
def fact(n):
    result=1
    for i in range(1,n):
        n=n*i
    return n

n=fact(5)
print(n)

120

### Recursions

## Program-1

In [7]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
x=fact(4)   
print("factorial of a number is:",x)

factorial of a number is: 24

## Program-2

In [19]:
def fib(m):
    if(m==1):
        print(1)
    elif(m<0):
        print("Invalid number")
    else:    
        a=0
        b=1
        for i in range(m):
            print(a)
            r=a+b
            a=b
            b=r     
    
fib(8)

0
1
1
2
3
5
8
13

### Lambda Functions

In [9]:
f=lambda a,b:a+b
result=f(2,4)
print(result)

6

In [10]:
f=lambda a:a*a
result=f(6)
print(result)

36

### Filter map Reduce Functions

In [23]:
nums=[2,3,4,6,44,53,43,89,544,65]
evens=list(filter(lambda n:n%2==0,nums))
print(evens)

TypeError: 'list' object is not callable

In [28]:
doubles=list(map(lambda n:n*2,nums))
print(doubles)

TypeError: 'list' object is not callable

In [32]:
from functools import reduce
l=[2,3,4,2,3,4,2,56,78]
sum=reduce(lambda a,b:a+b,l)
print(sum)

154